html,
body {
  height: 100%;
}

body {
  background-color: #18191b;
  display: flex;
  align-items: center;
  color: #eee;
}

.main-container {
  margin: auto;
  padding: 25px 0;
  width: 100%;
  text-align: center;
}
